rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allows read/write access to authenticated and unauthenticated users for local previewing/demoing
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
